<div class="row">
    <div class="col-4" >
        <div class="card" style="background-color:#336699;border-radius: 7px;color:white">
            <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}" 
                class="card-img-top img-thumbnail">
            <div class="card-body" >
                <div class="mb-2" *ngIf="(presence.onlineUsers$ | async).includes(member.username)" >
                    <i class="fa fa-user-circle"></i> Online now
                </div>

                
                <div>
                    <h4 class="text-center mb-4">{{member.knownAs}}</h4>
                    <hr>
                </div>
                

                <div>
                    <strong>Location:</strong>
                    <p>{{member.city}}, {{member.country}}</p>
                    <hr>
                </div>

                <div>
                    <strong>My Interests:</strong>
                    <p>{{member.interests}}</p>
                    <hr>
                </div>

                <div>
                    <strong>Age:</strong>
                    <p>{{member.age}}</p>
                    <hr>
                </div>


                <div>
                    <strong>Last Active:</strong>
                    <p>{{member.lastActive | timeago}}</p>
                </div>
                <div>
                    <strong>Member since:</strong>
                    <p>{{member.created | date: 'dd MMM yyyy'}}</p>
                </div>
            </div>
            <div class="card-footer" style="background-color: #336699">
                <div class="btn-group d-flex" *ngIf="(accountService.currentUser$ | async).username !== member.username">
                    <button (click)="addFriend(member)" class="btn" style="background-color: #ff5700;">Add Friend</button>
                    <button (click)="selectTab(2)" class="btn" style="background-color:#336699;">Message</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-8">
        <tabset class="member-tabset" #memberTabs>
 
            <tab heading='Posts' (selectTab)="onTabActivated($event)">
               <app-member-posts [username]="member.username"></app-member-posts>
            </tab>
            <tab heading='Photos' (selectTab)="onTabActivated($event)">
                <ngx-gallery [options]="galleryOptions" [images]="galleryImages" 
                    style="display: inline-block; margin-bottom: 20px;"></ngx-gallery>
            </tab>

                <tab heading='Messages' (selectTab)="onTabActivated($event)" >
                    <app-member-messages [username]="member.username" *ngIf="(accountService.currentUser$ | async).username !== member.username"></app-member-messages>
                </tab>

        </tabset>
    </div>
</div>
